@import '../common';

body {
    @media (min-width: 768px) {
        padding-left: 10px;
    }
}

main {
    transition-duration: 500ms;
    &.full {
        @media (min-width: 768px) {
            padding-left: 10px;
        }
    }
}
