@import "app";
@import "bootstrap-icons/font/bootstrap-icons.min.css";
@import "@toast-ui/editor/dist/toastui-editor-viewer.css";

* {
    color: #303E59;
    font-family: "Noto Sans JP", sans-serif;
}

.bg-required {
    background-color: #E2592D;
}

.color-required {
    color: #E2592D;
}

.text-title {
    color: #6787C4;
}

.editor {
    .toastui-editor-tooltip .text {
        color: white;
    }

    .tui-view-2 {
        ul {
            &.tui-colorpicker-clearfix {
                display: flex;
                flex-wrap: wrap;
                li {

                }
            }
        }
        div {
            &.tui-colorpicker-clearfix {
                display: none!important;
            }
        }
    }

    .tui-view-3 {
        display: none!important;
    }

    button {
        position: relative!important;
        top: 0!important;
        right: 0!important;
    }
}

header {
    &.hide {
        @media (min-width: 767px) {
            left: -310px;
        }
    }

    #headerToggleButton {
        .text {
            -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
            text-orientation: sideways;
        }
    }
}

.toastui-editor-tooltip .text {
    color: white;
}

.toastui-editor-popup-color {
    height: 250px;
}

ul {
    &.tui-colorpicker-clearfix {
        display: flex;
        flex-wrap: wrap;
    }
}

div {
    &.tui-colorpicker-clearfix {
        height: 32px;
    }
}

.tui-colorpicker-palette-preview {
    display: inline-block;
}

.tui-colorpicker-palette-hex {
    box-sizing: content-box;
}

.tui-colorpicker-slider-left {
    float: left;
}

.tui-colorpicker-slider-right {
    float: right;
}

.tui-colorpicker-svg-slider {
    width: 120px;
    height: 120px;
}

.tui-colorpicker-svg-huebar {
    height: 120px;
}
